@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
:root{
    --azul-dnc:#0C70f2;
    --preto-dnc:#303030;
    --cinza-hover:#C9C9C9;
    
    

}
    body{
        margin: 0px;
        padding: 0px;
        background: linear-gradient(180deg, rgba(12, 112, 242, 0.5) 19.91%, rgba(12, 112, 242, 0) 24.84%), #303030;
        background-repeat: no-repeat;
    }
    
    #principal{
        width: 100%;
        height:100px;
        border: 1px solid black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #303030;
        border-bottom: 2px solid #BABABA;
    }
    #principal div a  {
        font-family: 'Inter';
        font-size: 25px;
        font-weight: 600;
        color: white;
        text-decoration:none;
        margin-left: 6%;
        
    }

    #principal div a:hover{
        color: #CCCCCC;
    }
    #menu{
        display: flex;
        width:45%;
        justify-content:space-around;
        align-items: center;
    }
    #teste{
        margin-right: 5%;
        font-weight: 600;
        font-size: 20px;
        font-family: 'inter';
        height: 40px;
        width: 80px;
        background-color:#0C70f2;
        border: 0px;
        color:white;
        cursor: pointer;
        
        box-shadow: 3px 2px 4px rgba(12, 112, 242, 0.25);
    
    }

section{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;

}
header{
    color: white;
    font-family: 'Inter';
}

header h1{
    text-transform: uppercase;
    font-size:80px;
    font-weight:800;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}
header h2{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 100px;
}

header .class{
    background-color: black;
    font-weight: bold;
    padding: -100px;
}

form{
    color: white;
    font-family: "Inter";
    font-size: 24px;
    font-weight: 600;
    width: 600px;

}

.classform{
    display:flex;
    flex-direction: column;
    margin-top:10px;
    margin-bottom: 10px;
}

form input{
    border-radius: 15px;
    height:36px;
    border:0;
    font-size: 20px;
    padding: 10px;
    background-color:rgba(255, 255, 255, 0.9);

}

form label{
    margin: 10px 0px 10px 0px;
}

form input::placeholder{
    color: rgba(57, 57, 57, 0.5);

}

#checkbox-{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}
input[type="checkbox"]{
    transform:scale(1.7);
}

input[type="submit"]{
    background-color: #0C70f2;
    width: 100%;
    height: 56px;
    font-size:32px;
    font-family: "Inter";
    color: white;
    font-weight: bold;
    margin-top: 100px;
    cursor: pointer;

}
#oi{
    margin-top: 20px;
}
footer{
    width:100;
    background-color: #0C70f2;
    color: white;
    font-family: "Inter";
    
}
.teste{
    display: flex;
    align-items: center;
    text-align: center;
    font-size:20px;
    
    font-weight: 600;
}
footer .linha1{
    display: flex;
    justify-content: space-around;
    
    
   
}

footer ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    
    
}
footer nav{
    display:flex;
    flex-direction: column;
    align-items: center;
}
footer h5{
    margin-bottom: -5px;
    font-weight: 800;
    color: white;
    font-size:20px;
    font-family: "Inter";
    background-color: #303030;
    border-radius: 10px;
    text-align: center;
    flex-direction: column;
    padding: 15px 15px 15px 15px;

}
footer ul li{
    text-align: center;
    font-weight: 500;
    font-size:25px;
    font-family: "Inter";
    margin-top: 35px;
}

footer ul li a{
    color: white;
    text-decoration: none;
}
footer ul li a:hover{
    color:gray;
}

footer .linha2 a{
    font-family: "Inter";
    font-size:25px;
    font-weight: 600px;
    color: white;
    text-decoration: none;
    padding: 5px;
   
}

footer .linha2 a:first-child{
     border-right: 2px solid white;

}
footer .linha2{
    
    display:flex;
    justify-content: center;
    padding: 50px;
    
}

footer .linha2 a:hover{
    color:gray
}

@media only screen and (max-width:600px){
     #principal{
        display: flex;
        flex-direction: column;
        height: auto;
     }
     #menu{
        flex-direction: column;
        width: 100%;    
        margin:0px;
     }
     #menu a {
        height:50px;
        display: flex;
        align-items: center;
     }
     #principal button{
        width:100%;
        margin:0px;
     }
     section h1{
        font-size: 38px;
     }

     section h2{
        font-size:28px;
        padding-left: 15px;
        padding-right: 15px;
     }

     form{
        width: 90%;
     }
     #checkbox-{
        font-size: 16px;
        
     }

     footer .linha1{
        
        display: block 
     }

     .teste{
        margin-top: 100px;
     }
     footer .linha2 a {
        font: initial;
        font-family: "Inter"    
        
     }
}